* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.ya {
  width: 1000px;
  margin: 30px auto 0;
}

.news {
  margin-bottom: 30px;
}
.news-headers,
.news-list,
.exchange {
  margin: 10px 0;
}

.news-headers ul {
  display: flex;
  gap: 10px;
}
.news-list ul li {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}
.news-list ul li img {
  border-radius: 8px;
}
.exchange ul {
  display: flex;
  gap: 20px;
}

.search {
  margin-bottom: 30px;
}
.search-category,
.search-elements,
.search-tip {
  margin: 10px 0;
}
.search-category ul {
  display: flex;
  gap: 10px;
}
.search-elements {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-logo {
  font-size: 2em;
}
.search-input {
  width: 600px;
  height: 40px;
  border: 1px solid #777;
}
.search-btn {
  width: 60px;
  height: 40px;
  border: 1px solid #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ads {
  margin-bottom: 30px;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
}
.column-3 {
  width: 33%;
}
.widget {
  margin-bottom: 20px;
}
.widget-header {
  font-size: 1.6em;
  margin-bottom: 10px;
}
.widget li {
  margin-bottom: 5px;
}

.weather .row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.weather .row img {
  border-radius: 16px;
}
.weather .row div:nth-child(2) {
  font-size: 1.6em;
}
.weather .row div:nth-child(3) {
  font-size: 0.8em;
}
